<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

 <section class="create-form">
        <form action="/admin/edit-article/<%=article._id%>" method="POST">

            <input id="titulo" name="titulo" type="text" placeholder="Título del artículo" value="<%=article.titulo%>">

            <input id="extracto" name="extracto" type="text" placeholder="Extracto del artículo"
                value="<%=article.extracto%>">

            <textarea id="cuerpo" name="cuerpo" cols="40" rows="20"
                placeholder="Cuerpo del artículo"> <%=article.cuerpo%> </textarea>

            <input type="submit" value="Añadir artículo">
        </form>

 </section>

    <% if (typeof errors !=='undefined' ) { %>

        <% errors.forEach(element=> {

            if (!element.msg.includes("Invalid value")) { %>

            <p>
                <%= element.msg %>
            </p>

            <% } }) %>

                <% } %>

<%- include('./templates/footer.ejs') %>