<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

        <main>

            <div id="table-container">

                <table>

                    <tr class="table-head">
                        <th>Imagen</th>
                        <th>Título</th>
                        <th>Extracto</th>
                        <th>Fecha</th>
                        <th>Vista Detalle</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>

                    <tbody class="tbody">

                        <% if(article.docs.length> 0) { %>

                            <% article.docs.forEach(element=> { %>

                                <tr>

                                    <td>
                                        <img src="<%= element.imagen %>">
                                    </td>

                                    <td>
                                        <%= element.titulo %>
                                    </td>

                                    <td>
                                        <%= element.extracto %>
                                    </td>

                                    <td>
                                        <%= element.fecha.toString().substring(0, 10) %>
                                    </td>

                                    <td>
                                      <div class="botones">
                                        <button class="admin">
                                            <a href="/admin/detail-view/<%= element._id %>">Vista Detalle</a>
                                        </button>
                                      </div>
                                    </td>

                                    <td>
                                      <div class="botones">
                                        <button class="admin">
                                            <a href="/admin/edit-form/<%= element._id %>">Editar</a>
                                        </button>
                                      </div>
                                    </td>

                                    <td>
                                      <div class="botones">
                                        <button class="admin">
                                            <a href="/admin/remove-article/<%= element._id %>">Eliminar</a>
                                        </button>
                                      </div>
                                    </td>

                                </tr>

                                <% }); %>

                                    <% } else { %>
                                        <tr>
                                            <td colspan="7">
                                                <p>No hay ningún artículo</p>
                                            </td>
                                        </tr>
                                        <% } %>

                    </tbody>

                </table>

            </div>

<%- include('./templates/pagination.ejs') %>

        </main>

<%- include('./templates/footer.ejs') %>