<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>


<main class="grid-container">

    <div class="card">
   
            <h2 class="titulo">
                <%= titulo %>
            </h2>
   
            <p class="extracto">
                <%= parrafo %>
            </p>
   
    </div>
           
   </main>




<%- include('./templates/footer.ejs') %>