<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

<form id="searchForm" action="/search" method="GET" >

    <label class="">Buscador</label> 
    <input id="searchInput" name="search" type="search">
    <button type="submit" class="">Buscar</button>

</form>

<main class="grid-container">

 <div class="card">

    <h2 class="titulo">
             <%= article.titulo %>
         </h2>

         <p class="extracto">
             <%= article.extracto %>
         </p>

         <p class="cuerpo">
             <%= article.cuerpo %>
         </p> 

 </div>
        
</main>

<%- include('./templates/footer.ejs') %>