<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

<form id="searchForm" action="/search" method="POST" >

    <label class=""  for="search">Search</label> 

     <input id="searchInput" name="search" type="search">

     <span class="caret"></span>

 </form>

<main class="grid-container">

 <div class="card">

    <h2 class="titulo">
             <%= article.titulo %>
         </h2>

         <p class="extracto">
             <%= article.extracto %>
         </p>

         <p class="cuerpo">
             <%= article.cuerpo %>
         </p> 

 </div>
        
</main>

<%- include('./templates/footer.ejs') %>