<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

<form id="searchForm" action="/search" method="GET" >

    <label class="buscar">Buscador</label> 
    <input id="searchInput" name="search" type="search">
    <div class="botones"><button type="submit" class="user">Buscar</button></div>

</form>

<main class="grid-container">

 <div class="card">

    <div class="imagen">
        <img src="<%= article.imagen %>">
      </div>

         <h2 class="titulo">
             <%= article.titulo %>
         </h2>

         <p class="extracto">
             <%= article.extracto %>
         </p>

         <p class="cuerpo">
             <%= article.cuerpo %>
         </p> 

 </div>
        
</main>

<%- include('./templates/footer.ejs') %>