<%- include('./templates/header.ejs') %>




<main class="grid-container">


    <% if(article.length> 0) {%>

            <% article.forEach(element=> {%>

                <div class="card">
                        <h2 class="titulo">
                            <%= element.titulo %>
                        </h2>

                        <p class="extracto">
                            <%= element.extracto %>
                        </p>

                        <p class="cuerpo">
                            <%= element.cuerpo %>
                        </p>

                    <div class="botones">
                        <button><a href="/<%=element._id%>">Vista Detalle</a></button>
                    </div>

                </div>
        
                <% }); %>
                    <% } else { %>

                        <p>No hay ningún artículo</p>

                        <% } %>

</main>
<%- include('./templates/footer.ejs') %>