<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

<form id="searchForm" action="/search" method="GET" >

    <label class="buscar">Buscador</label> 
    <input id="searchInput" name="search" type="search">
    <div class="botones"><button type="submit" class="user">Buscar</button></div>

</form>

<main class="grid-container">

    <% if(article.docs.length > 0) {%>

        <% article.docs.forEach(element=> {%>

            <div class="card">

                <p class="fecha">
                  <%= element.fecha.toString().substring(0, 10) %>
                </p>

                <div class="imagen">
                    <img src="<%= element.imagen %>">
                  </div>

                <h2 class="titulo">
                    <%= element.titulo %>
                </h2>

                <p class="extracto">
                    <%= element.extracto %>
                </p>

                <div class="botones">
                    <button class="user"><a href="/detail-view/<%=element._id%>">Vista Detalle</a></button>
                </div>

            </div>
        
        <% }); %>

    <% } else { %>

        <p class="cuerpo"> No hay ningún artículo </p>

    <% } %>

<%- include('./templates/pagination.ejs') %>

</main>

<%- include('./templates/footer.ejs') %>


