<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

<form id="searchForm" action="/search" method="GET" >

    <label class="buscar">Buscador</label> 
    <input id="searchInput" name="search" type="search">
    <div class="botones"><button type="submit" class="user">Buscar</button></div>

</form>

<main class="grid-container">

    <% if(article.docs.length > 0) {%>

        <% article.docs.forEach(element=> {%>

            <div class="card">

                <p class="fecha">
                  <%= element.fecha.toString().substring(0, 10) %>
                </p>

                <div class="imagen">
                    <img src="<%= element.imagen %>">
                  </div>

                <h2 class="titulo">
                    <%= element.titulo %>
                </h2>

                <p class="extracto">
                    <%= element.extracto %>
                </p>

                <p class="cuerpo">
                    <%= element.cuerpo %>
                </p>

                <div class="botones">
                    <button class="user"><a href="/detail-view/<%=element._id%>">Vista Detalle</a></button>
                </div>

            </div>
        
        <% }); %>

        <% if (article.hasPrevPage || article.hasNextPage) { %>

            <div class="paginacion">

                <% if (article.hasPrevPage) { %>

                  <div id="anterior" class="botones"><button class="user"><a href="?page=<%= article.prevPage %>">Anterior</a></button></div>

                <% } %>
              
                <% const minimoPagina = Math.min(article.totalPages, 3); %>
                <% const paginaActual = Math.max(1, article.page - 1); %>
                <% const maximoPagina = Math.min(paginaActual + minimoPagina - 1, article.totalPages); %>

                <% for (let i = paginaActual; i <= maximoPagina; i++) { %>

                  <% if (i === article.page) { %>

                    <div id="pagina-totales" class="botones"><button class="user"><span><%= i %></span></button></div> 

                  <% } else { %>

                    <div id="pagina-totales" class="botones"><button class="user"><a href="?page=<%= i %>"><%= i %></a></button></div> 

                  <% } %>

                <% } %>
              
                <% if (article.hasNextPage) { %>

                  <div id="siguiente" class="botones"><button class="user"><a href="?page=<%= article.nextPage %>">Siguiente</a></button></div>

                <% } %>
                
              </div>

        <% } %>

    <% } else { %>

        <p class="cuerpo"> No hay ningún artículo </p>

    <% } %>

</main>

<%- include('./templates/footer.ejs') %>


